body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-weight: 800;
    background-image: url(images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body::before {
    content: '';
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(7px); /* adjust the blur radius to your liking */
    opacity: 0.8; /* adjust the opacity to your liking */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

h1 {
    font-size: 3em;
    color: darkgoldenrod;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(164 164 164); ;
    border: solid 2px black;
    box-sizing: border-box;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);

}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: red;
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

#reset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    height: 50px;
    margin-top: 15px;
    color: black;
    background-color: #463f3f;
}

#reset:hover{
    color: red;
    font-weight: 200;
    background-color: black;
}